@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked ~ label {
  background-color: #fe0;
  border-color: #fe0;
  color: #11110c;
  transition: all 0, 5s ease-in-out;
}
input[type="radio"] ~ label:hover {
  background-color: #fe0;
  border-color: #fe0;
  color: #11110c;
  transition: all 0, 5s ease-in-out;
}

.font-Poppins {
  font-family: Poppins;
}
.bg-blue-1200 {
  --tw-bg-opacity: 1;
  background-color: rgb(195 233 255 / var(--tw-bg-opacity));
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(28 100 242 / var(--tw-text-opacity));
}
.border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(28 100 242 / var(--tw-border-opacity));
}
